{% extends 'base.html'%} {% import 'macros.html' as macro %}


<html>
{% block content %} {% block styles%} {{ super() }}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"> {% endblock %} -->

<body style="background-color: #06f8ec" class="container-fluid">
    <div class="row">
        <!--Business -->
        <div class="col-md-3">
            <h3 class="list-group-item" style="background-color: #06f8ec; width: 300px;">BUSINESS</h3>
            <p style="margin-left: 10px">{{macro.displaySources(business)}}</p>
        </div>

        <!-- Entertainment  -->
        <div class="col-md-3">
            <h3 class="list-group-item" style="width: 300px; text-align:center;background-color: #c9f1e1"> ENTERTAINMENT </h3>
            <p>{{macro.displaySources(entertainment)}}</p>
        </div>

        <!-- Technology -->
        <div class="col-md-3">
            <h3 class="list-group-item" style="width: 300px; text-align:center; background-color: #c9f1e1"> TECHNOLOGY </h3>
            <p>{{macro.displaySources(technology)}}</p>
        </div>

        <!-- Sports -->
        <div class="col-md-3" style="width: 100px;">
            <h3 class="list-group-item" style="width: 300px; text-align:center; background-color: #c7f#c9f1e1"> SPORTS </h3>
            <p>{{macro.displaySources(sports)}}</p>
        </div>
    </div>
</body>

{% endblock %}

</html>