<div class="container-fluid">
    <div class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> News Highlights </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav av-tabs">
                <li><a href="/">Home</a></li>

                <li class="active"><a data-toggle="tab" href="#biz">Business news</a></li>
                <li><a data-toggle="tab" href="#tech">Technology news</a></li>
                <li><a data-toggle="tab" href="#ent">Entertainment news</a></li>
                <li><a data-toggle="tab" href="#sprt">Sports news</a></li>
            </ul>

        </div>
    </div>
</div>