<div class="container-fluid">
    <div class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> News Highlights </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="#general">GENERAL</a></li>
                <li><a href="#sports">SPORTS</a></li>
                <li><a href="#technology">TECHNOLOGY</a></li>
                <li><a href="#entertainment">ENTERTAINMENT</a></li>
                <li><a href="#health">HEALTH</a></li>
                <li><a href="#science">SCIENCE</a></li>
                <li><a href="#political">POLITICAL</a></li>
                <li><a data-toggle="tab" href="#business">BUSINESS</a></li> -->

        </div>

    </div>
</div>