{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h1> {{title}} </h1>
        </div>
    </div>
    <div class="row">
        {% for article in news %}
        <div class="col-md-3 articles-details">
            <a href={{article.url}} target="_blank">
                <img src={{article.urlToImage}} alt="IMAGE LOADING...">
            </a>
            <div class="words">
                <h4 class="text-bold"> {{article.title}} </h4>
                <p class="small">- {{article.author}} </p>
                <p class="small">Posted on {{article.publishedAt}}</p>
                <hr>
                <p> {{article.description}}...
                    <a href={{article.url}} target="_blank">Read More</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}